<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include('../partials/header'); %>

    <h4><%= tagline %></h4>
    <br>

    <% mascots.forEach(mascot => { %>
        <h2>Mascot Name: <%= mascot.name %></h2>
        <p><b>Organizaiton: <%= mascot.organization %></b></p>
        <p><i>Birth Year: <%= mascot.birth_year %></i></p>
        <br>
    <% }); %>
</body>
</html>